<a href="https://colab.research.google.com/github/OseiasBeu/fight_project/blob/main/ufc_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Detalhamento da base:

## Datasets: 
 ufc_df_o -> Dataset original;

 ufc_df_t -> Dataset tratado;

--- 
## Informações sobre o evento:
- weight_class -> Categoria da luta;
- country -> País onde o evento vai acontecer;
- finish -> Forma de finalização da luta;
- finish_round_time -> Tempo de finalização;
- Winner -> Corner vencedor;

--- 

## Informações sobre os lutadores:
- age -> Idade do lutador/a
- age_dif -> Diferença de idade entre os lutadores;
- Stance -> Base de luta do lutador;
- draw -> Número de empates;
- longest_win_streak -> Sequência de vitórias mais longa;
- current_win_streak -> Sequência de vitórias atual;
- current_lose_streak -> Sequência de derrotas atual;
- total_rounds_fought -> Quantidade de rounds já lutados;
- total_title_bouts -> Quantidade de lutas pelo título;
- win_by_Decision_Majority -> Vitória por decisão majoritária;
- win_by_Decision_Split -> Vitória por decisão dividida;
- win_by_Decision_Unanimous -> Vitória por decisão unânime;
- win_by_KO/TKO -> Vitória por nocaute ou nocaute técnico;
- win_by_Submission -> Vitória por submissão;
- win_by_TKO_Doctor_Stoppage -> Vitória por decisão médica;
- wins -> Quantidade de vitórias;
- Weight_lbs -> Peso do atleta em libras;
---

## Campos para remover:
- constant_1
- finish_details -> Mas incluir para futuros modelos
- total_fight_time_secs
- finish_round_time
- empty_arena
- date
- location
- better_rank
- R_fighter
- B_fighter
- B_odds
- R_odds
- R_ev
- B_ev

--- 

## Campos de classe: 
- finish
- B_Stance
- R_Stance
- 

---

# Leitura do dataset:

In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [2]:
ufc_df_o = pd.read_csv('https://raw.githubusercontent.com/OseiasBeu/fight_project/main/datasets/ufc-master.csv')
ufc_df_o = pd.DataFrame(ufc_df_o)

In [3]:
ufc_df_o.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4896 entries, 0 to 4895
Columns: 119 entries, R_fighter to b_ko_odds
dtypes: bool(1), float64(58), int64(46), object(14)
memory usage: 4.4+ MB

In [4]:
ufc_df_o.describe()

,R_odds,B_odds,R_ev,B_ev,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_SIG_STR_landed,B_avg_SIG_STR_pct,...,B_Flyweight_rank,B_Pound-for-Pound_rank,finish_round,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
count,4895.000000,4896.000000,4895.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,3966.000000,4131.000000,...,95.000000,35.000000,4274.000000,4274.000000,4093.000000,4077.000000,3847.000000,3835.000000,3847.000000,3834.000000
mean,-117.640449,66.030637,94.827397,167.083323,3.181985,0.477941,0.875408,0.010621,26.308553,0.444741,...,8.473684,9.485714,2.408049,652.313758,294.064745,416.544027,843.010138,1064.543155,514.231869,647.257173
std,268.881452,247.803928,82.843409,136.944643,0.571515,0.769386,1.311379,0.108333,20.935885,0.121332,...,4.259763,4.300283,0.996643,357.911423,230.583958,306.571299,550.126761,627.285034,413.622768,458.846643
min,-1700.000000,-1200.000000,5.882353,8.333333,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,5.000000,-440.000000,-200.000000,-370.000000,-1250.000000,-550.000000,-275.000000
25%,-255.000000,-145.000000,39.215686,68.965517,3.000000,0.000000,0.000000,0.000000,5.610000,0.387500,...,5.000000,5.000000,1.000000,297.000000,167.000000,225.000000,435.000000,590.000000,240.000000,325.000000
50%,-150.000000,130.000000,66.666667,130.000000,3.000000,0.000000,0.000000,0.000000,24.759615,0.450000,...,8.000000,10.000000,3.000000,900.000000,250.000000,349.000000,720.000000,975.000000,435.000000,548.500000
75%,126.500000,220.000000,126.500000,220.000000,3.000000,1.000000,1.000000,0.000000,39.075000,0.510000,...,12.000000,13.500000,3.000000,900.000000,400.000000,525.000000,1200.000000,1400.000000,700.000000,880.750000
max,775.000000,1300.000000,775.000000,1300.000000,5.000000,6.000000,12.000000,2.000000,154.000000,1.000000,...,15.000000,15.000000,5.000000,1500.000000,2200.000000,2600.000000,4665.000000,4785.000000,2675.000000,3200.000000

In [5]:
ufc_df_o.head(2)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,finish_details,finish_round,finish_round_time,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
0,Thiago Santos,Johnny Walker,-150.0,130,66.666667,130.0,2021-10-02,"Las Vegas, Nevada, USA",USA,Red,...,NaN,5.0,5:00,1500.0,800.0,900.0,2000.0,1600.0,-110.0,175.0
1,Alex Oliveira,Niko Price,170.0,-200,170.000000,50.0,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,3.0,5:00,900.0,450.0,350.0,700.0,1100.0,550.0,120.0

In [6]:
columns_arr = []
for i in ufc_df_o.columns:
  if i[0] != 'R' and i[0] != 'B' and i[0] != 'r' and i[0] != 'b':
    columns_arr.append(i)

In [7]:
columns_arr = []
for i in ufc_df_o.columns:
  if i[0] != 'R' and i[0] != 'B' and i[0] != 'r' and i[0] != 'b':
    pass
  else:
    columns_arr.append(i)

In [8]:
# columns_arr

# Analisando campos de classes:

In [9]:
ufc_df_o.select_dtypes(include='object').describe().columns

Index(['R_fighter', 'B_fighter', 'date', 'location', 'country', 'Winner',
       'weight_class', 'gender', 'B_Stance', 'R_Stance', 'better_rank',
       'finish', 'finish_details', 'finish_round_time'],
      dtype='object')

## Tratar o campo Winner

In [10]:
ufc_df_o.Winner.value_counts()

Red     2859
Blue    2037
Name: Winner, dtype: int64

## Tratar o campo Gender

In [11]:
ufc_df_o.gender.value_counts()

MALE      4384
FEMALE     512
Name: gender, dtype: int64

## Tratar o campo country:

In [12]:
ufc_df_o.country.value_counts()

 USA                     2450
USA                       599
 Brazil                   400
 Canada                   337
 United Kingdom           165
 Australia                160
United Arab Emirates      141
 Sweden                    72
 Mexico                    70
 China                     61
 Germany                   54
 Japan                     53
 Singapore                 45
 Russia                    36
 New Zealand               33
 United Arab Emirates      29
 Netherlands               25
 South Korea               24
 Poland                    23
 Ireland                   19
 Croatia                   13
 Czech Republic            13
 Denmark                   13
 Chile                     13
 Uruguay                   13
 Philippines               12
 Argentina                 12
Brazil                     11
Name: country, dtype: int64

## Converter campo finish_round_time:

In [13]:
ufc_df_o.finish_round_time.value_counts()

5:00    2141
4:59      29
2:38      23
1:54      18
3:38      15
        ...
0:09       1
4:04       1
3:20       1
0:05       1
3:55       1
Name: finish_round_time, Length: 293, dtype: int64

# Analisando campos do tipo numérico:

In [14]:
ufc_df_o.select_dtypes(include='int').describe().columns

Index(['B_odds', 'no_of_rounds', 'B_current_lose_streak',
       'B_current_win_streak', 'B_draw', 'B_longest_win_streak', 'B_losses',
       'B_total_rounds_fought', 'B_total_title_bouts',
       'B_win_by_Decision_Majority', 'B_win_by_Decision_Split',
       'B_win_by_Decision_Unanimous', 'B_win_by_KO/TKO', 'B_win_by_Submission',
       'B_win_by_TKO_Doctor_Stoppage', 'B_wins', 'B_Weight_lbs',
       'R_current_lose_streak', 'R_current_win_streak', 'R_draw',
       'R_longest_win_streak', 'R_losses', 'R_total_rounds_fought',
       'R_total_title_bouts', 'R_win_by_Decision_Majority',
       'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous',
       'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_wins', 'R_Weight_lbs', 'R_age',
       'B_age', 'lose_streak_dif', 'win_streak_dif', 'longest_win_streak_dif',
       'win_dif', 'loss_dif', 'total_round_dif', 'total_title_bout_dif',
       'ko_dif', 'sub_dif', 'age_dif', 'empty_arena', 'constant_1'],
      dtype='object')

In [15]:
ufc_df_o.total_title_bout_dif.value_counts().head(2)

 0    3523
-1     666
Name: total_title_bout_dif, dtype: int64

## Tratar campo age_dif:

In [16]:
ufc_df_o.age_dif.value_counts().head(2)

-1    384
 0    361
Name: age_dif, dtype: int64

In [17]:
ufc_df_o[['R_age','B_age','age_dif']].head(10)

   R_age  B_age  age_dif
0     37     29       -8
1     33     32       -1
2     34     32       -2
3     29     32        3
4     28     33        5
5     36     23      -13
6     38     26      -12
7     28     27       -1
8     36     29       -7
9     33     30       -3

In [18]:
ufc_df_o[['R_fighter','R_win_by_Decision_Majority',
       'R_win_by_Decision_Split', 'R_win_by_Decision_Unanimous',
       'R_win_by_KO/TKO', 'R_win_by_Submission',
       'R_win_by_TKO_Doctor_Stoppage', 'R_wins']].head(10)

,R_fighter,R_win_by_Decision_Majority,R_win_by_Decision_Split,R_win_by_Decision_Unanimous,R_win_by_KO/TKO,R_win_by_Submission,R_win_by_TKO_Doctor_Stoppage,R_wins
0,Thiago Santos,0,0,2,11,0,0,13
1,Alex Oliveira,0,1,3,4,3,0,11
2,Misha Cirkunov,0,0,0,1,5,0,6
3,Alexander Hernandez,0,0,2,2,0,0,4
4,Joe Solecki,0,0,2,0,2,0,4
5,Antonina Shevchenko,0,0,1,2,1,0,4
6,Bethe Correia,0,2,2,1,0,0,5
7,Devonte Smith,0,0,0,4,0,0,4
8,Douglas Silva de Andrade,0,0,3,1,0,0,4
9,Stephanie Egger,0,0,0,0,0,0,0

# Removendo campos não úteis:

In [19]:
# ufc_df_t = ufc_df_o.drop(
#     columns=['constant_1','finish_details','total_fight_time_secs','finish_round_time','empty_arena','date','location','better_rank','R_fighter','B_fighter','B_odds','R_odds','R_ev','B_ev'],
#     axis=1
#     )