<a href="https://colab.research.google.com/github/OseiasBeu/fight_project/blob/main/ufc_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from pandas_profiling import ProfileReport

In [4]:
ufc_df = pd.read_csv('https://raw.githubusercontent.com/OseiasBeu/fight_project/main/datasets/ufc-master.csv')
ufc_df = pd.DataFrame(ufc_df)

In [5]:
ufc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4896 entries, 0 to 4895
Columns: 119 entries, R_fighter to b_ko_odds
dtypes: bool(1), float64(58), int64(46), object(14)
memory usage: 4.4+ MB

In [6]:
ufc_df.describe()

,R_odds,B_odds,R_ev,B_ev,no_of_rounds,B_current_lose_streak,B_current_win_streak,B_draw,B_avg_SIG_STR_landed,B_avg_SIG_STR_pct,...,B_Flyweight_rank,B_Pound-for-Pound_rank,finish_round,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
count,4895.000000,4896.000000,4895.000000,4896.000000,4896.000000,4896.000000,4896.000000,4896.000000,3966.000000,4131.000000,...,95.000000,35.000000,4274.000000,4274.000000,4093.000000,4077.000000,3847.000000,3835.000000,3847.000000,3834.000000
mean,-117.640449,66.030637,94.827397,167.083323,3.181985,0.477941,0.875408,0.010621,26.308553,0.444741,...,8.473684,9.485714,2.408049,652.313758,294.064745,416.544027,843.010138,1064.543155,514.231869,647.257173
std,268.881452,247.803928,82.843409,136.944643,0.571515,0.769386,1.311379,0.108333,20.935885,0.121332,...,4.259763,4.300283,0.996643,357.911423,230.583958,306.571299,550.126761,627.285034,413.622768,458.846643
min,-1700.000000,-1200.000000,5.882353,8.333333,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,2.000000,1.000000,5.000000,-440.000000,-200.000000,-370.000000,-1250.000000,-550.000000,-275.000000
25%,-255.000000,-145.000000,39.215686,68.965517,3.000000,0.000000,0.000000,0.000000,5.610000,0.387500,...,5.000000,5.000000,1.000000,297.000000,167.000000,225.000000,435.000000,590.000000,240.000000,325.000000
50%,-150.000000,130.000000,66.666667,130.000000,3.000000,0.000000,0.000000,0.000000,24.759615,0.450000,...,8.000000,10.000000,3.000000,900.000000,250.000000,349.000000,720.000000,975.000000,435.000000,548.500000
75%,126.500000,220.000000,126.500000,220.000000,3.000000,1.000000,1.000000,0.000000,39.075000,0.510000,...,12.000000,13.500000,3.000000,900.000000,400.000000,525.000000,1200.000000,1400.000000,700.000000,880.750000
max,775.000000,1300.000000,775.000000,1300.000000,5.000000,6.000000,12.000000,2.000000,154.000000,1.000000,...,15.000000,15.000000,5.000000,1500.000000,2200.000000,2600.000000,4665.000000,4785.000000,2675.000000,3200.000000

In [7]:
ufc_df.head(20)

,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,finish_details,finish_round,finish_round_time,total_fight_time_secs,r_dec_odds,b_dec_odds,r_sub_odds,b_sub_odds,r_ko_odds,b_ko_odds
0,Thiago Santos,Johnny Walker,-150.0,130,66.666667,130.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red,...,NaN,5.0,5:00,1500.0,800.0,900.0,2000.0,1600.0,-110.0,175.0
1,Alex Oliveira,Niko Price,170.0,-200,170.000000,50.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,3.0,5:00,900.0,450.0,350.0,700.0,1100.0,550.0,120.0
2,Misha Cirkunov,Krzysztof Jotko,110.0,-130,110.000000,76.923077,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,3.0,5:00,900.0,550.0,275.0,275.0,1400.0,600.0,185.0
3,Alexander Hernandez,Mike Breeden,-675.0,475,14.814815,475.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red,...,Punch,1.0,1:20,80.0,175.0,900.0,500.0,3500.0,110.0,1100.0
4,Joe Solecki,Jared Gordon,-135.0,115,74.074074,115.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,3.0,5:00,900.0,165.0,200.0,400.0,1200.0,900.0,600.0
5,Antonina Shevchenko,Casey O'Neill,215.0,-265,215.000000,37.735849,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,Punches,2.0,4:47,587.0,300.0,200.0,1600.0,330.0,1000.0,300.0
6,Bethe Correia,Karol Rosa,500.0,-720,500.000000,13.888889,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,3.0,5:00,900.0,700.0,-200.0,2500.0,600.0,1600.0,400.0
7,Devonte Smith,Jamie Mullarkey,-155.0,135,64.516129,135.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Blue,...,Punches,2.0,2:51,471.0,330.0,450.0,2000.0,900.0,140.0,330.0
8,Douglas Silva de Andrade,Gaetano Pirrello,-280.0,225,35.714286,225.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red,...,Punch,1.0,2:04,124.0,165.0,450.0,1400.0,2000.0,150.0,600.0
9,Stephanie Egger,Shanna Young,-155.0,135,64.516129,135.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red,...,Elbow,2.0,2:22,442.0,140.0,225.0,450.0,900.0,800.0,900.0
10,Alejandro Perez,Johnny Eduardo,-300.0,235,33.333333,235.000000,2021-10-02,"Las Vegas, Nevada, USA",USA,Red,...,Armbar,2.0,4:13,553.0,250.0,600.0,650.0,900.0,130.0,550.0
11,Alexander Volkanovski,Brian Ortega,-180.0,155,55.555556,155.000000,2021-09-25,"Las Vegas, Nevada, USA",USA,Red,...,NaN,5.0,5:00,1500.0,140.0,500.0,1600.0,400.0,250.0,700.0
12,Valentina Shevchenko,Lauren Murphy,-1375.0,800,7.272727,800.000000,2021-09-25,"Las Vegas, Nevada, USA",USA,Red,...,Punches,4.0,4:00,1140.0,200.0,1800.0,350.0,2800.0,-110.0,2500.0
13,Nick Diaz,Robbie Lawler,140.0,-160,140.000000,62.500000,2021-09-25,"Las Vegas, Nevada, USA",USA,Blue,...,Punch,3.0,0:44,644.0,275.0,225.0,800.0,2500.0,650.0,185.0
14,Curtis Blaydes,Jairzinho Rozenstruik,-380.0,290,26.315789,290.000000,2021-09-25,"Las Vegas, Nevada, USA",USA,Red,...,NaN,3.0,5:00,900.0,180.0,1000.0,1000.0,3500.0,125.0,380.0
15,Jessica Andrade,Cynthia Calvillo,-220.0,180,45.454545,180.000000,2021-09-25,"Las Vegas, Nevada, USA",USA,Red,...,Punches,1.0,4:54,294.0,140.0,330.0,1000.0,900.0,225.0,1400.0
16,Marlon Moraes,Merab Dvalishvili,245.0,-310,245.000000,32.258065,2021-09-25,"Las Vegas, Nevada, USA",USA,Blue,...,Punches,2.0,4:25,565.0,500.0,100.0,1200.0,550.0,600.0,400.0
17,Dan Hooker,Nasrat Haqparast,-150.0,130,66.666667,130.000000,2021-09-25,"Las Vegas, Nevada, USA",USA,Red,...,NaN,3.0,5:00,900.0,225.0,350.0,900.0,2200.0,225.0,350.0
18,Shamil Abdurakhimov,Chris Daukaus,180.0,-220,180.000000,45.454545,2021-09-25,"Las Vegas, Nevada, USA",USA,Blue,...,Punch,2.0,1:23,383.0,400.0,350.0,1800.0,1400.0,450.0,100.0
19,Roxanne Modafferi,Taila Santos,300.0,-400,300.000000,25.000000,2021-09-25,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,3.0,5:00,900.0,550.0,-165.0,1100.0,1100.0,2200.0,350.0

In [8]:
ufc_df.location.value_counts()

Las Vegas, Nevada, USA                        1251
Abu Dhabi, Abu Dhabi, United Arab Emirates     153
Houston, Texas, USA                             82
Chicago, Illinois, USA                          80
Newark, New Jersey, USA                         79
                                              ...
Bangor, Maine, USA                              10
Hollywood, Florida, USA                          9
Gold Coast, Queensland, Australia                9
Omaha, Nebraska, USA                             9
Ledyard, Connecticut, USA                        9
Name: location, Length: 145, dtype: int64

In [9]:
ufc_df.country.value_counts()

 USA                     2450
USA                       599
 Brazil                   400
 Canada                   337
 United Kingdom           165
 Australia                160
United Arab Emirates      141
 Sweden                    72
 Mexico                    70
 China                     61
 Germany                   54
 Japan                     53
 Singapore                 45
 Russia                    36
 New Zealand               33
 United Arab Emirates      29
 Netherlands               25
 South Korea               24
 Poland                    23
 Ireland                   19
 Croatia                   13
 Czech Republic            13
 Denmark                   13
 Chile                     13
 Uruguay                   13
 Philippines               12
 Argentina                 12
Brazil                     11
Name: country, dtype: int64

In [10]:
ufc_df.finish_round_time.value_counts()

5:00    2141
4:59      29
2:38      23
1:54      18
3:38      15
        ...
0:09       1
4:04       1
3:20       1
0:05       1
3:55       1
Name: finish_round_time, Length: 293, dtype: int64

In [11]:

#  'total_round_dif',
#  'total_title_bout_dif',
#  'ko_dif',
#  'sub_dif',
#  'height_dif',
#  'age_dif',
#  'sig_str_dif',
#  'avg_sub_att_dif',
#  'avg_td_dif',
#  'empty_arena',
#  'constant_1',
#  'finish',
#  'finish_details',
#  'finish_round',
#  'finish_round_time',
#  'total_fight_time_secs']

* Tratar o campo `country`

In [12]:
columns_arr = []
for i in ufc_df.columns:
  if i[0] != 'R' and i[0] != 'B' and i[0] != 'r' and i[0] != 'b':
    columns_arr.append(i)

In [13]:
columns_arr = []
for i in ufc_df.columns:
  if i[0] != 'R' and i[0] != 'B' and i[0] != 'r' and i[0] != 'b':
    pass
  else:
    columns_arr.append(i)

In [14]:
columns_arr

['R_fighter',
 'B_fighter',
 'R_odds',
 'B_odds',
 'R_ev',
 'B_ev',
 'B_current_lose_streak',
 'B_current_win_streak',
 'B_draw',
 'B_avg_SIG_STR_landed',
 'B_avg_SIG_STR_pct',
 'B_avg_SUB_ATT',
 'B_avg_TD_landed',
 'B_avg_TD_pct',
 'B_longest_win_streak',
 'B_losses',
 'B_total_rounds_fought',
 'B_total_title_bouts',
 'B_win_by_Decision_Majority',
 'B_win_by_Decision_Split',
 'B_win_by_Decision_Unanimous',
 'B_win_by_KO/TKO',
 'B_win_by_Submission',
 'B_win_by_TKO_Doctor_Stoppage',
 'B_wins',
 'B_Stance',
 'B_Height_cms',
 'B_Reach_cms',
 'B_Weight_lbs',
 'R_current_lose_streak',
 'R_current_win_streak',
 'R_draw',
 'R_avg_SIG_STR_landed',
 'R_avg_SIG_STR_pct',
 'R_avg_SUB_ATT',
 'R_avg_TD_landed',
 'R_avg_TD_pct',
 'R_longest_win_streak',
 'R_losses',
 'R_total_rounds_fought',
 'R_total_title_bouts',
 'R_win_by_Decision_Majority',
 'R_win_by_Decision_Split',
 'R_win_by_Decision_Unanimous',
 'R_win_by_KO/TKO',
 'R_win_by_Submission',
 'R_win_by_TKO_Doctor_Stoppage',
 'R_wins',
 'R_Stance',
 'R_Height_cms',
 'R_Reach_cms',
 'R_Weight_lbs',
 'R_age',
 'B_age',
 'reach_dif',
 'B_match_weightclass_rank',
 'R_match_weightclass_rank',
 "R_Women's Flyweight_rank",
 "R_Women's Featherweight_rank",
 "R_Women's Strawweight_rank",
 "R_Women's Bantamweight_rank",
 'R_Heavyweight_rank',
 'R_Light Heavyweight_rank',
 'R_Middleweight_rank',
 'R_Welterweight_rank',
 'R_Lightweight_rank',
 'R_Featherweight_rank',
 'R_Bantamweight_rank',
 'R_Flyweight_rank',
 'R_Pound-for-Pound_rank',
 "B_Women's Flyweight_rank",
 "B_Women's Featherweight_rank",
 "B_Women's Strawweight_rank",
 "B_Women's Bantamweight_rank",
 'B_Heavyweight_rank',
 'B_Light Heavyweight_rank',
 'B_Middleweight_rank',
 'B_Welterweight_rank',
 'B_Lightweight_rank',
 'B_Featherweight_rank',
 'B_Bantamweight_rank',
 'B_Flyweight_rank',
 'B_Pound-for-Pound_rank',
 'better_rank',
 'r_dec_odds',
 'b_dec_odds',
 'r_sub_odds',
 'b_sub_odds',
 'r_ko_odds',
 'b_ko_odds']

In [15]:
ufc_df[["R_Pound-for-Pound_rank"]]

      R_Pound-for-Pound_rank
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN
...                      ...
4891                     NaN
4892                     NaN
4893                     NaN
4894                     NaN
4895                     NaN

[4896 rows x 1 columns]

In [16]:
# columns_arr

## Campos para remover:
- constant_1
- finish_details -> Mas incluir para futuros modelos
- total_fight_time_secs
- finish_round_time
- empty_arena
- date
- location
- 
-


## Campos de classe: 
- finish
- B_Stance
- R_Stance
-

# Analisando campos de classes:

In [17]:
ufc_df.select_dtypes(include='object').describe().columns

Index(['R_fighter', 'B_fighter', 'date', 'location', 'country', 'Winner',
       'weight_class', 'gender', 'B_Stance', 'R_Stance', 'better_rank',
       'finish', 'finish_details', 'finish_round_time'],
      dtype='object')

In [22]:
ufc_df.weight_class.value_counts()

Lightweight              855
Welterweight             830
Middleweight             593
Featherweight            566
Bantamweight             493
Light Heavyweight        394
Heavyweight              385
Flyweight                235
Women's Strawweight      203
Women's Bantamweight     156
Women's Flyweight        136
Catch Weight              33
Women's Featherweight     17
Name: weight_class, dtype: int64

## Tratar o campo Winner

In [21]:
ufc_df.Winner.value_counts()

Red     2859
Blue    2037
Name: Winner, dtype: int64

## Tratar o campo Gender

In [23]:
ufc_df.gender.value_counts()

MALE      4384
FEMALE     512
Name: gender, dtype: int64

In [24]:
ufc_df.B_Stance.value_counts()

Orthodox       3680
Southpaw        980
Switch          232
Switch            1
Open Stance       1
Name: B_Stance, dtype: int64

- Stance -> Base de luta do lutador;
- Winner -> Corner vencedor;
- weight_class -> Categoria da luta;